@import '../../index.scss';

.track-card {
  background-color: $black_90;
  padding: 4px 16px;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__num {
    padding-right: 16px;
  }

  &__image {
    img {
      width: 60px;
      height: 60px;
    }
  }

  &__info {
    text-align: left;
    padding: 2px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    line-height: 1.2;
  }

  &__title {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__subtitle {
    color: $white_70;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
