/*
    BREAKPOINTS
*/
$large-phone: 450px;
$tablet: 768px;
$desktop: 1024px;

/*
    FONT SIZES
*/
$font_xs: 8px;
$font_sm: 12px;
$font_md: 16px;
$font_lg: 24px;
$font_xl: 32px;

/*
    COLORS
*/
$black: #0a0a0a;
$black_90: #1a1a1a;
$black_80: #313131;
$black_70: #4f4f4f;
$black_60: #5b5b5b;
$black_50: #747474;
$black_40: #8f8f8f;
$black_30: #9e9e9e;
$black_20: #b6b6b6;
$black_10: #d8d8d8;

$white: #f5f5f5;
$white_90: #dddddd;
$white_80: #c4c4c4;
$white_70: #acacac;
$white_60: #939393;
$white_50: #7b7b7b;
$white_40: #626262;
$white_30: #494949;
$white_20: #313131;
$white_10: #181818;

$pure_black: #000;
$pure_white: #fff;

$green: #1db954;
$logo_green: #1ed760;

$background: rgba($black, 1);
$text: rgba($white, 1);
