/*
    BREAKPOINTS
*/
$large-phone: 450px;
$tablet: 768px;
$desktop: 1024px;

/*
    FONT SIZES
*/
$font_xs: 10px;
$font_sm: 12px;
$font_md: 20px;
$font_lg: 32px;

/*
    COLORS
*/
$black: #191919;
$black_90: #262626;
$black_80: #404040;
$black_70: #595959;
$black_60: #737373;
$black_50: #8c8c8c;
$black_40: #a6a6a6;
$black_30: #bfbfbf;
$black_20: #d9d9d9;
$black_10: #f2f2f2;

$white: #f5f5f5;
$white_90: #dddddd;
$white_80: #c4c4c4;
$white_70: #acacac;
$white_60: #939393;
$white_50: #7b7b7b;
$white_40: #626262;
$white_30: #494949;
$white_20: #313131;
$white_10: #181818;

$pure_black: #000;
$pure_white: #fff;

$green: #1db954;
$logo_green: #1ed760;

$background: rgba($black, 1);
$text: rgba($white, 1);
